#navbar{
    background-color: #5da593;
    padding: 1rem;
}

#navbar-items{
    list-style: none;
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#navbar #logo #logo-description{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#navbar #logo #logo-symbol{
    width: 2rem;
    height: 2rem;
    margin-right: 0.1rem;
}

#search-box{
    margin: 0.2rem;
    border-radius: 5px;
    padding: 0.5rem;
}

#search-button{
    padding: 0.2rem;
    width: 5rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: aqua;
}